#answer-choices button {
    background-color: purple;
    color:whitesmoke;
    width: 15%;
}

#answer-choices {
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
